/*!
 * Start Bootstrap - Shop Homepage (https://startbootstrap.com/template/shop-homepage)
 * Copyright 2013-2020 Start Bootstrap
 * Licensed under MIT (https://github.com/StartBootstrap/startbootstrap-shop-homepage/blob/master/LICENSE)
 */
body {
  padding-top: 56px;
  body {
	color: #999;
	background: white;
	font-family: 'Varela Round', sans-serif;
        background-image: url(img/index.jpg);
        background-position: left  ;
        background-repeat: no-repeat;
        background-attachment: fixed;  
        background-size: contain;
}
.btnCart {
  background-color: white;
  border: none;
  color: white;
  padding: 12px 16px;
  font-size: 16px;
  cursor: pointer;
  
}

/* Darker background on mouse-over */
.btnCart:hover {
  background-color: black;
}
.shopping-cart {
    display: inline-block;
    background: url(img/cart.png) no-repeat 0 0;
    width: 24px;
    height: 24px;
    margin: 0 10px 0 0;
}
}

