/*!
 * Start Bootstrap - Shop Homepage (https://startbootstrap.com/template/shop-homepage)
 * Copyright 2013-2020 Start Bootstrap
 * Licensed under MIT (https://github.com/StartBootstrap/startbootstrap-shop-homepage/blob/master/LICENSE)
 */
body {
  padding-top: 56px;
}

html,body{
       width: 100%;
	   height: 100%;
           
}

 body {
     background: #0d161f;
}

#circle {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
	width: 150px;
    height: 150px;	
}

.loader {
    width: calc(100% - 0px);
	height: calc(100% - 0px);
	border: 8px solid #162534;
	border-top: 8px solid #09f;
	border-radius: 50%;
	animation: rotate 5s linear infinite;
}

@keyframes rotate {
100% {transform: rotate(360deg);}
} 
