/*!
 * Start Bootstrap - Shop Item (https://startbootstrap.com/template/shop-item)
 * Copyright 2013-2020 Start Bootstrap
 * Licensed under MIT (https://github.com/StartBootstrap/startbootstrap-shop-item/blob/master/LICENSE)
 */
body {
  padding-top: 56px;
   background: url("https://static.vecteezy.com/system/resources/previews/000/582/344/non_2x/vector-luxury-polygonal-pattern-and-gold-triangles-lines-with-lighting-on-dark-background-geometric-low-polygon-gradient-shapes.jpg") !important;

}
