@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

.content .colour-value{
  width: 50%;
  display: flex;
  margin: 10px 60px;
  justify-content: space-between;
  
  
      
}
.content .colour-value span{
  display: block;
  height: 28px;
  width: 28px;
  text-align: center;
  line-height: 28px;
  border-radius: 50%;
  font-size: 15px;
  font-weight: 500;
  cursor: pointer;
  color: black;
  
  
}
.content .colour-value span.active{
  
  border-color:red;
  border: 2px solid #456ABD;
  border-style: solid;
  
}
.content .colour-name{
    font-size: larger;
    padding-left: 100px;
}
.content .colour{
    
}



body{
    background: url("https://static.vecteezy.com/system/resources/previews/000/582/344/non_2x/vector-luxury-polygonal-pattern-and-gold-triangles-lines-with-lighting-on-dark-background-geometric-low-polygon-gradient-shapes.jpg") !important;
}
h1,h2{
    color:white;
    
}
bg-dark{
    background-color:green !important;
}

.footer{
    color:white;
}




.wrapper1{
  height: 100px;
  width: 360px;
  position: relative;
  background: linear-gradient(135deg, #14ffe9, #ffeb3b, #ff00e0);
  border-radius: 10px;
  cursor: default;
  animation: animate 1.5s linear infinite;
  right:100px;
}
.wrapper1 .display1,
.wrapper1 span{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.wrapper1 .display1{
  z-index: 999;
  height: 85px;
  width: 345px;
  background: #1b1b1b;
  border-radius: 6px;
  text-align: center;
  
}
.display1 #time{
  line-height: 85px;
  color: #fff;
  font-size: 50px;
  font-weight: 600;
  letter-spacing: 1px;
  background: linear-gradient(135deg, #14ffe9, #ffeb3b, #ff00e0);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: animate 1.5s linear infinite;
  
}
@keyframes animate {
  100%{
    filter: hue-rotate(360deg);
  }
}
.wrapper1 span{
    padding-left: 100px;
  height: 100%;
  width: 100%;
  border-radius: 10px;
  background: inherit;
}
.wrapper1 span:first-child{
  filter: blur(7px);
}
.wrapper1 span:last-child{
  filter: blur(20px);
}
.sale{
    color:black;
    text-align: center;
    font-family: 'Poppins', sans-serif;
}





.content1{
  position: relative;
  margin: 130px auto;
  text-align: center;
  padding: 0 20px;
}
.content1 .text{
  font-size: 2.5rem;
  font-weight: 600;
  color: #202020;
}
.content1 .p{
  font-size: 2.1875rem;
  font-weight: 600;
  color: #202020;
}
footer{
  
  bottom: 0px;
  width: 100%;
  background: #111;
}
.main-content{
  display: flex;
}
.main-content .box{
  flex-basis: 50%;
  padding: 10px 20px;
}
.box h2{
  font-size: 1.125rem;
  font-weight: 600;
  text-transform: uppercase;
}
.box .content{
  margin: 20px 0 0 0;
  position: relative;
}
.box .content:before{
  position: absolute;
  content: '';
  top: -10px;
  height: 2px;
  width: 100%;
  background: #1a1a1a;
}
.box .content:after{
  position: absolute;
  content: '';
  height: 2px;
  width: 15%;
  background: gold;
  top: -10px;
}
.left .content p{
  text-align: justify;
  color:white;
}
.left .content .social{
  margin: 20px 0 0 0;
}
.left .content .social a{
  padding: 0 2px;
}
.left .content .social a span{
  height: 40px;
  width: 40px;
  background: #1a1a1a;
  line-height: 40px;
  text-align: center;
  font-size: 18px;
  border-radius: 5px;
  transition: 0.3s;
}
.left .content .social a span:hover{
  background: #f12020;
}
.center .content .fas{
  font-size: 1.4375rem;
  background: gold;
  height: 45px;
  width: 45px;
  line-height: 45px;
  text-align: center;
  border-radius: 50%;
  transition: 0.3s;
  cursor: pointer;
}
.center .content .fas:hover{
  background: #f12020;
}
.center .content .text{
  font-size: 1.0625rem;
  font-weight: 500;
  padding-left: 10px;
  color:white;
}
.center .content .phone{
  margin: 15px 0;
}
.right form .text{
  font-size: 1.0625rem;
  margin-bottom: 2px;
  color: gold;
}
.right form .msg{
  margin-top: 10px;
}
.right form input, .right form .msgForm{
  width: 100%;
  font-size: 1.0625rem;
  background: white;
  padding-left: 10px;
  border: 1px solid #222222;
}
.right form input:focus,
.right form .msgForm:focus{
  outline-color: #3498db;
}
.right form input{
  height: 35px;
}
.right form .btn{
  margin-top: 10px;
}
.right form .btn button{
  height: 40px;
  width: 100%;
  border: none;
  outline: none;
  background: gold;
  font-size: 1.0625rem;
  font-weight: 500;
  cursor: pointer;
  transition: .3s;
}
.right form .btn button:hover{
  background:goldenrod;
}
.bottom center{
  padding: 5px;
  font-size: 0.9375rem;
  background: #151515;
}
.bottom center span{
  color: #656565;
}
.bottom center a{
  color: gold;
  text-decoration: none;
}
.bottom center a:hover{
  text-decoration: underline;
}
@media screen and (max-width: 900px) {
  footer{
    position: relative;
    bottom: 0px;
  }
  .main-content{
    flex-wrap: wrap;
    flex-direction: column;
  }
  .main-content .box{
    margin: 5px 0;
  }
}





.wrapper2{
  position: relative;
  max-width: 1130px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.wrapper2 .cart-nav2{
  position: absolute;
  right: 0;
  top: -35%;
  width: 130px;
  background: #fff;
  padding: 13px 15px;
  border-radius: 3px;
  display: flex;
  cursor: pointer;
  justify-content: space-around;
  box-shadow: 3px 3px 8px 0px rgba(0,0,0,0.15);
}
.cart-nav2 .icon{
  color: #ff7979;
}
.cart-nav2 .icon i{
  font-size: 20px;
}
.cart-nav2 .icon2 span{
  font-weight: 500;
}
.cart-nav2 .item-count{
  font-size: 15px;
  height: 23px;
  width: 23px;
  color: black;
  background: gold;
  text-align: center;
  line-height: 22px;
  border: 1px solid #ffb3b3;
  border-radius: 50%;
}
h5{
    text-decoration: underline;
}

.UserWelcome{
    font-size: 40px;
    color: white;
    pointer-events: none;
    background-clip: border-box;
    background-color: black;
    border: 5px solid gold;
    padding: 10px;
    margin:10px;
}
.UserWelcomea{
    font-family: sans-serif;
    font-size: 40px;
    color: white;
    pointer-events: none;
}
.my-4{
    font-size: 40px;
    color: white;
    pointer-events: none;
      text-shadow: 4px 4px black;
}
.SaleDiscount{
    color: red;
}


